---
import Layout from '../layouts/Layout.astro';
import CategoryBrowser from '../components/CategoryBrowser';
---

<Layout title="Categories - marXiv">
    <div class="container mx-auto px-4 py-12">
        <CategoryBrowser client:load />
    </div>
</Layout>
